
  .container {
    display: grid;
    grid-template-columns: auto;
    align-items: center; 
    grid-template-columns: 1fr 1fr ;
    column-gap: 5px;
   }
   .text {
     font-size: 70px;
     bottom: 10%;
   }
   .element {
    position:absolute;
    width:40%;
    height:30%;
    bottom : -80%;
    right : -4%;
  };
  .matter {
    font-size: 16px;
   
  };
  